<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

<!-- Nav Bar -->	
<nav>
	<li><a href="/home">Home</a></li>
	<li><a href="#">Profile</a></li>
</nav>

<main>
	<div id="chat-container" class="container">
		<div class="row">
			<div class="col-sm-4">

				<!-- Tabs for Messages and Groups -->
				<nav>
			  	<div class="nav nav-tabs" id="nav-tab" role="tablist">
			    <a class="nav-item nav-link active" id="nav-chat-tab" data-toggle="tab" href="#nav-chat" role="tab" aria-controls="nav-chat" aria-selected="true">Chat</a>
			    <a class="nav-item nav-link" id="nav-groups-tab" data-toggle="tab" href="#nav-groups" role="tab" aria-controls="nav-groups" aria-selected="false">Groups</a>
			  </div>
			</nav>

				<!-- Message Section -->
				<div class="tab-content" id="nav-tabContent">

					<!-- Chat Tab Content -->
					<div class="tab-pane fade show active" id="nav-chat" role="tabpanel" aria-labelledby="nav-chat-tab">

						<div class="card">
						  <div class="card-body">
						    This is some text within a card body.
						  </div>
						</div>
						<div class="card">
						  <div class="card-body">
						    This is some text within a card body.
						  </div>
						</div>

					</div>

					<!-- Groups Tab Content -->
				  <div class="tab-pane fade" id="nav-groups" role="tabpanel" aria-labelledby="nav-groups-tab">
				  	
				  	<div class="card">
						  <div class="card-body">
						    This is some text within a card body.
						  </div>
						</div>
						<div class="card">
						  <div class="card-body">
						    This is some text within a card body.
						  </div>
						</div>

				  </div>

				</div>

			</div>
			<div class="col-sm-8">
				
			</div>
		</div>
	</div>
</main>
</body>
</html>